<ion-content padding>

  <ion-list no-lines>

    <div [hidden]="step != '1'">
      <form class="form" [formGroup]="createVenueForm">

        <h1 class="mainHeading" style="color: white;margin-top: 5%;">Create Venue</h1>
        <div style="margin-top:8%;" class="inputBox">
          <ion-item>
            <ion-label>Name</ion-label>
            <ion-input [class.invalid]="!createVenueForm.controls.Name.valid && (createVenueForm.controls.Name.dirty || submitAttempt)"
              formControlName="Name" type="text"></ion-input>
          </ion-item>
        </div>


        <div style="margin-top:2%;" class="inputBox">
          <ion-label>Description</ion-label>
          <ion-item>

            <ion-input style="height: 90px;" [class.invalid]="!createVenueForm.controls.Description.valid && (createVenueForm.controls.Description.dirty || submitAttempt)"
              formControlName="Description" type="text"></ion-input>
          </ion-item>
        </div>

        <div style="margin-top:2%;" class="inputBox">
          <ion-item>
            <ion-label>Phone Number</ion-label>
            <ion-input [class.invalid]="!createVenueForm.controls.Phone.valid && (createVenueForm.controls.Phone.dirty || submitAttempt)"
              formControlName="Phone" type="text"></ion-input>
          </ion-item>
        </div>

        <div style="margin-top:2%;" class="inputBox">
          <ion-item>
            <ion-label>Website</ion-label>
            <ion-input [class.invalid]="!createVenueForm.controls.Website.valid && (createVenueForm.controls.Website.dirty || submitAttempt)"
              formControlName="Website" type="text"></ion-input>
          </ion-item>
        </div>

        <div class="searchBar" style="margin-top:2%;">
          <ion-searchbar [(ngModel)]="term" [ngModelOptions]="{standalone: true}" [showCancelButton]="false" (ionInput)="getPredictions(term)"
            (ionCancel)="cancelSearch()" (ionClear)="clearSearch()" placeholder="Start typing and select ..." (keyup.enter)="closeKeyboard();">
          </ion-searchbar>
        </div>



        <div>
          <ion-list>
            <ion-item *ngFor="let item of addressPredictions" (click)="chooseAddress(item)">
              {{ item }}
            </ion-item>
          </ion-list>
        </div>

        <div style="margin-top: 10% !important;" class="bottomButtons">
          <button style="border-radius: 5px;" ion-button class="buttonText" (click)="selectCat();"
            block color="light" outline>Select Categories</button>
        </div>

        <div style="margin-top: 4% !important;" class="bottomButtons">
          <button [disabled]="!createVenueForm.valid" style="border-radius: 5px;" ion-button class="buttonText" (click)="createVenue();"
            block color="light" outline>Create Event</button>
        </div>
      </form>
    </div>
  </ion-list>

  <div [hidden]="step != '2'">
    <div style="width: 90%;margin-left: 5%">
      <img style="width: 100%;height: 100%;" src="{{imageUrl}}">
    </div>
    <div class="bottomButtons">
      <button style="border-radius: 5px;" ion-button class="buttonText" (click)="uploadImage();" block color="light" outline>Upload Image</button>
    </div>
    <div class="bottomButtons">
      <button [disabled]="noPicture" style="border-radius: 5px;" ion-button class="buttonText" (click)="goHome();" block color="light"
        outline>Continue</button>
    </div>
  </div>



</ion-content>
