page-createVenue {
  ion-content {
    background-image: url('../assets/imgs/landingBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .item.item-input {
    background-color: transparent;
    font-size: 20px;
    margin-top: 8px;
    color: white !important;
    font-family: 'Assistant', sans-serif !important;
    text-shadow: 1px 1px 15px black, 0 0 25px black, 0 0 20px black;
  }
  .item.item-select {
    background-color: transparent;
    color: white;
    font-size: 20px;
    margin-top: 10px;
  }
  .text {
    background-color: transparent;
    color: white;
    font-size: 20px;
    margin-top: 20px;
  }
  .textMobile {
    background-color: transparent;
    color: white;
    font-size: 25px !important;
    margin-bottom: 10px !important;
  }
  .errorMessage {
    background-color: transparent;
    color: rgb(255, 209, 209);
    margin-left: 7%;
    font-family: 'Assistant', sans-serif !important;
    text-shadow: 1px 1px 2px black, 1px 1px 5px black, 1px 1px 10px black;
  }
  .inputBox {
    background-color: rgba(0, 0, 0, 0.3);
    width: 90%;
    margin-left: 5%;
    border-radius: 3px;
  }
  .passwordShowText {
    background-color: transparent;
    width: 60%;
    margin-left: 30%;
    font-family: 'Assistant', sans-serif !important;
    text-shadow: 1px 1px 2px black, 1px 1px 5px black, 1px 1px 10px black;
    margin-top: 1%;
  }
  .inputBox ion-label {
    color: rgb(233, 233, 233) !important;
    font-family: 'Assistant', sans-serif !important;
    font-size: 20px;
    text-shadow: 1px 1px 2px black, 1px 1px 5px black, 1px 1px 10px black;
  }
  .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child {
    -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d00;
  }
  .list-md .item-input.item-input-has-focus:last-child,
  .list-md .item-input.input-has-focus:last-child {
    -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d00;
  }
  .list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
  .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
    -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d00;
  }
  .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }
  .inputBoxMobile {
    background-color: rgba(0, 0, 0, 0.3);
    width: 86%;
    margin-left: 7%;
    border-radius: 3px;
    align-content: center;
    text-align: center;
  }
  .form {
    text-align: center;
  }
  .heading {
    text-align: center;
    color: white;
  }
  .mainHeading {
    font-family: 'Assistant', sans-serif !important;
    font-size: 25px;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 15px black, 0 0 25px black, 0 0 20px black;
  }
  .inputBox {
    background-color: rgba(0, 0, 0, 0.3);
    width: 90%;
    margin-left: 5%;
    border-radius: 3px;
  }
  .bottomButtons {
    margin-top: 25%;
    width: 90%;
    margin-left: 5%;
  }
  .bottomButtons button {
    border-radius: 8px;
    box-shadow: 1px 1px 5px #0D1720, 0 0 7px #0D1720, 0 0 9px #0D1720, 0 0 13px #0D1720, 0 0 16px #0D1720;
  }
  .searchBar {
    border-radius: 35px;
  }
}
