<ion-content padding>

    <ion-list no-lines>
  
  
      <form class="form" [formGroup]="loginForm">
          <h1 class="mainHeading" style="color: white;margin-top: 5%;">Login</h1>
          <div style="margin-top:15%;" class="inputBox">
            <ion-item>
              <ion-label>Username</ion-label>
              <ion-input formControlName="username" type="text"></ion-input>
            </ion-item>
          </div>
  
  
          <ion-item class="errorMessage" *ngIf="!loginForm.controls.username.valid  && loginForm.controls.username.dirty && submitAttempt">
            <p style="color: rgb(255, 191, 191) !important">Please enter a valid username.</p>
          </ion-item>
  
          <div style="margin-top:7%;" class="inputBox">
            <ion-item>
              <ion-label>Password</ion-label>
              <ion-input (keyup.enter)="closeKeyboard();" *ngIf="!showPassword" formControlName="password" type="password"></ion-input>
              <ion-input (keyup.enter)="closeKeyboard();" *ngIf="showPassword" formControlName="password" type="text"></ion-input>
            </ion-item>
          </div>

          <ion-item class="passwordShowText" style="background-color: transparent; width: 60%;margin-left: 30%;">
              <ion-label style="color: white;">Show Password</ion-label>
              <ion-toggle [(ngModel)]="showPassword" [ngModelOptions]="{standalone: true}"></ion-toggle>
            </ion-item>

            <ion-item class="errorMessage" *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty && submitAttempt">
              <p style="color: rgb(255, 191, 191) !important">Please enter a valid password.
                <br>(minimum of 6 characters/numbers)</p>
            </ion-item>
  
      </form>
  
  
    </ion-list>
  
    <div class="bottomButtons">
      <button ion-button class="buttonText" (click)="loginUser();" block color="light" outline>Login</button>
      <button style="margin-top: 6%;" ion-button class="buttonText" (click)="cancel();" block color="light">Back</button>
      <br>
      <div class="forgotPasswordText">
          <a (click)="forgotPassword()">Forgot Password</a>
      </div>
      
    </div>
  
  
  
  </ion-content>