<ion-content padding>
  <ion-icon (tap)="goBack();" class="backIcon" name="arrow-round-back"></ion-icon>
  <h1 class="mainHeading" style="text-align: center;color: white;">Settings</h1>
  <div class="imageCircle">
    <img src="https://scontent-jnb1-1.xx.fbcdn.net/v/t1.0-9/22528321_10159333990715461_7725906265871520871_n.jpg?_nc_cat=0&oh=8c534d7c6f8d8e7100bcb13696f95476&oe=5BCD0C94">
  </div>
  <div (click)="showFullNamePrompt();" class="name">{{name}}
    <span style="color:#0095FF">*</span>
  </div>
  <div (click)="showGenderRadio();" class="gender">{{gender}}
    <span style="color:#0095FF">*</span>
  </div>


  <ion-card class="profileCard" style="margin-top: 10%;">
    <ion-list>
      <br>
      <button class="profileCard" ion-item>
        <ion-icon name="md-mail" item-start></ion-icon>
        <span class="contactBox">
          <span *ngIf="email == null">
            No Email
          </span>
          <span *ngIf="email != null">
            {{email}}
          </span>
        </span>
      </button>

    </ion-list>
  </ion-card>
</ion-content>
