page-landing {

    ion-content {
        background-color: #131450; 
         
    }

    .buttonsDiv{
        margin-top: 25%;  
    }

    .loginText{
        color: aliceblue; 
        text-align: center;
        position: absolute;
        bottom: 5%;
        width: 100%;
        font-family: 'Assistant', sans-serif !important;
        font-size: 17px;
    }

    .buttonText{
        font-size: 23px;
        height: 70px;
        text-transform: none;
        border-width: 1px;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.279);
        border-color: rgb(210, 220, 255);
        color: white !important;
            text-shadow: 1px 1px 5px #0D1720, 0 0 7px #0D1720, 0 0 9px #0D1720, 0 0 13px #0D1720, 0 0 16px #0D1720;
            font-family: 'Assistant', sans-serif !important;
    }

    .landingLogo{
        text-align: center;
        margin-top:-8%;
        width: 90%;
        margin-left: 5%;
    }

    .appName{
        color: white !important;
        font-size: 30px;
        margin-top: -4%;
        font-weight: 500;
        font-family: 'Indie Flower', cursive !important;
        text-shadow: 1px 1px 2px black, 1px 1px  5px black, 1px 1px  10px black;
    }
}
