<ion-content class="background" padding>
  <div class="landingLogo">
    <img src="assets/imgs/WhereMyFriendsAtLogo.png">
    <p class="appName">Where.My.Friends.At</p>
  </div>
  <div class="buttonsDiv">
      <button ion-button class="buttonText" (click)="register();" block color="light" outline>Register</button>
      <br>
      <button ion-button class="buttonText" block color="light" (click)="facebookLogin();" outline>Facebook</button>
  </div>
  <div>
      <p class="loginText">Already a user? <a (click)="login()">Login</a></p>
  </div>
</ion-content>