page-tabs {

  ion-content {
    background-image: url('../assets/imgs/landingBackground.jpg');
    background-repeat: no-repeat;
    background-size:cover;   
     
}

  .has-title .tab-button-text {
color:#aaaaaa;
  }
  

  ion-icon::before {
    font-size: 25px;
  }

  

  .tabbar{
    height: 9%;
    border-top-width: 1px;
    z-index: 1;
    border-top-color: rgba(255, 255, 255, 0.2);
    border-top-style: solid;
    background-image: url('../assets/imgs/landingBackgroundTabs.jpg') !important;
    background-repeat: no-repeat !important;
    background-size:cover !important;  
  }

  .tabs-md .tab-button[aria-selected=true] {
    color: #488aff;
    border-top-color: #488aff;
    border-top-style: solid;
    border-top-width: 1px;
  }


  .tabs-md .tab-button[aria-selected=false] .tab-button-icon {
    color: #aaaaaa !important;
  }

  .tabs-md .has-icon[aria-selected=true] .tab-button-text {
    color: #488aff;
  }

  .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
    top:1%;
  }

  .tabs-md .tabbar{
    background-color: transparent;
  }
 

}
