<ion-tabs >
  <ion-tab style="height: 100%;;" tabTitle="Spots" [root]="tab1Root" tabIcon="ios-flag-outline"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Link-Up" tabIcon="ios-git-compare-outline"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Settings" tabIcon="ios-people-outline"></ion-tab>
</ion-tabs>
