<ion-content class="card-background-page">
  <div padding>
    <ion-segment [(ngModel)]="selectedOption">
      <ion-segment-button value="friends">
        Friends
      </ion-segment-button>
      <!--<ion-segment-button value="private">
        Private Parties
      </ion-segment-button>-->
    </ion-segment>
  </div>

  <div [ngSwitch]="selectedOption">
    <!--<ion-list no-lines *ngSwitchCase="'private'">

      <ion-item-sliding style="background-color: transparent;" >
        <ion-item style="background-color: rgba(16, 16, 16, 0.344);" class="slidingOptions">
          <ion-avatar class="item-avatar" item-start>
            <img src="https://scontent.fjnb4-1.fna.fbcdn.net/v/t1.0-9/17308795_10154420690011658_8202197361070561368_n.jpg?_nc_cat=0&oh=1d19c88295264f3a89e20b6529bb1508&oe=5BD3156D">
          </ion-avatar>
          <h2 class="name">Firas Khan</h2>
          <p style="color: rgb(206, 206, 206);">
            <ion-icon class="icon" name="md-calendar"></ion-icon>
            <span style="padding-right: 10px;padding-left: 10px;" class="location locationBorder">15/09/2018 <br>08:00</span>
            <ion-icon style="padding-left: 10px;" class="icon" name="ios-pin-outline"></ion-icon>
            <span style="padding-right: 10px;padding-left: 10px;padding-top:2px;" class="location">15 Km away</span>
      
          </p>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="secondary">
            <ion-icon name="md-share"></ion-icon>
            Share
          </button>
         
        </ion-item-options>
        <ion-item-options  side="right">
          <button class="slidingButton" ion-button color="primary">
            <ion-icon name="md-open"></ion-icon>
            View
          </button>
          <button class="slidingButton" ion-button color="dark">
            <ion-icon name="md-checkbox-outline"></ion-icon>
            Check in
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding style="background-color: transparent;" >
          <ion-item style="background-color: rgba(16, 16, 16, 0.344);" class="slidingOptions">
            <ion-avatar class="item-avatar" item-start>
              <img src="https://scontent-jnb1-1.xx.fbcdn.net/v/t1.0-9/20431616_10155512713527789_1435786524904550551_n.jpg?_nc_cat=0&oh=f686bb136bf10aa73091287edcb40095&oe=5BE2BE11">
            </ion-avatar>
            <h2 class="name">Sushil Jeewa</h2>
            <p style="color: rgb(206, 206, 206);">
              <ion-icon class="icon" name="md-calendar"></ion-icon>
              <span style="padding-right: 10px;padding-left: 10px;" class="location locationBorder">21/09/2018 <br>09:00</span>
              <ion-icon style="padding-left: 10px;" class="icon" name="ios-pin-outline"></ion-icon>
              <span style="padding-right: 10px;padding-left: 10px;padding-top:2px;" class="location">7 Km away</span>
        
            </p>
          </ion-item>
          <ion-item-options side="left">
            <button ion-button color="secondary">
              <ion-icon name="md-share"></ion-icon>
              Share
            </button>
           
          </ion-item-options>
          <ion-item-options  side="right">
            <button class="slidingButton" ion-button color="primary">
              <ion-icon name="md-open"></ion-icon>
              View
            </button>
            <button class="slidingButton" ion-button color="dark">
              <ion-icon name="md-checkbox-outline"></ion-icon>
              Check in
            </button>
          </ion-item-options>
        </ion-item-sliding>

        <ion-item-sliding style="background-color: transparent;" >
            <ion-item style="background-color: rgba(16, 16, 16, 0.344);" class="slidingOptions">
              <ion-avatar class="item-avatar" item-start>
                <img src="https://scontent-jnb1-1.xx.fbcdn.net/v/t1.0-9/11707616_10153600369829305_7221040656569249_n.jpg?_nc_cat=0&oh=c05921f26169f6cf92cdf11051e9a202&oe=5BD9EBEA">
              </ion-avatar>
              <h2 class="name">Ziyaad Khan</h2>
              <p style="color: rgb(206, 206, 206);">
                <ion-icon class="icon" name="md-calendar"></ion-icon>
                <span style="padding-right: 10px;padding-left: 10px;" class="location locationBorder">27/09/2018 <br>03:00</span>
                <ion-icon style="padding-left: 10px;" class="icon" name="ios-pin-outline"></ion-icon>
                <span style="padding-right: 10px;padding-left: 10px;padding-top:2px;" class="location">3 Km away</span>
          
              </p>
            </ion-item>
            <ion-item-options side="left">
              <button ion-button color="secondary">
                <ion-icon name="md-share"></ion-icon>
                Share
              </button>
             
            </ion-item-options>
            <ion-item-options  side="right">
              <button class="slidingButton" ion-button color="primary">
                <ion-icon name="md-open"></ion-icon>
                View
              </button>
              <button class="slidingButton" ion-button color="dark">
                <ion-icon name="md-checkbox-outline"></ion-icon>
                Check in
              </button>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding style="background-color: transparent;border-bottom:none !important;" >
              <ion-item style="background-color: rgba(16, 16, 16, 0.344);" class="slidingOptions">
                <ion-avatar class="item-avatar" item-start>
                  <img src="https://scontent-jnb1-1.xx.fbcdn.net/v/t1.0-9/26814892_10216039651010422_6389060750781273438_n.jpg?_nc_cat=0&oh=e590dd5c1b43a0b34ce7878922109ad7&oe=5BD8E9C1">
                </ion-avatar>
                <h2 class="name">Sheldon Govender</h2>
                <p style="color: rgb(206, 206, 206);">
                  <ion-icon class="icon" name="md-calendar"></ion-icon>
                  <span style="padding-right: 10px;padding-left: 10px;" class="location locationBorder">30/09/2018 <br>04:00</span>
                  <ion-icon style="padding-left: 10px;" class="icon" name="ios-pin-outline"></ion-icon>
                  <span style="padding-right: 10px;padding-left: 10px;padding-top:2px;" class="location">21 Km away</span>
            
                </p>
              </ion-item>
              <ion-item-options side="left">
                <button ion-button color="secondary">
                  <ion-icon name="md-share"></ion-icon>
                  Share
                </button>
               
              </ion-item-options>
              <ion-item-options  side="right">
                <button class="slidingButton" ion-button color="primary">
                  <ion-icon name="md-open"></ion-icon>
                  View
                </button>
                <button class="slidingButton" ion-button color="dark">
                  <ion-icon name="md-checkbox-outline"></ion-icon>
                  Check in
                </button>
              </ion-item-options>
            </ion-item-sliding>

            <ion-item-sliding style="background-color: transparent;" >
                <ion-item style="background-color: rgba(16, 16, 16, 0.344);" class="slidingOptions">
                  <ion-avatar class="item-avatar" item-start>
                    <img src="https://scontent-jnb1-1.xx.fbcdn.net/v/t1.0-9/27973852_10208789351249853_6185149774207739176_n.jpg?_nc_cat=0&oh=e316bb26d8b42561d5724855cdc7ba4f&oe=5BE90CD0">
                  </ion-avatar>
                  <h2 class="name">Eshan Vandayaer</h2>
                  <p style="color: rgb(206, 206, 206);">
                    <ion-icon class="icon" name="md-calendar"></ion-icon>
                    <span style="padding-right: 10px;padding-left: 10px;" class="location locationBorder">15/10/2018 <br>08:00</span>
                    <ion-icon style="padding-left: 10px;" class="icon" name="ios-pin-outline"></ion-icon>
                    <span style="padding-right: 10px;padding-left: 10px;padding-top:2px;" class="location">17 Km away</span>
              
                  </p>
                </ion-item>
                <ion-item-options side="left">
                  <button ion-button color="secondary">
                    <ion-icon name="md-share"></ion-icon>
                    Share
                  </button>
                 
                </ion-item-options>
                <ion-item-options  side="right">
                  <button class="slidingButton" ion-button color="primary">
                    <ion-icon name="md-open"></ion-icon>
                    View
                  </button>
                  <button class="slidingButton" ion-button color="dark">
                    <ion-icon name="md-checkbox-outline"></ion-icon>
                    Check in
                  </button>
                </ion-item-options>
              </ion-item-sliding>
     
    </ion-list>-->

    <ion-list no-lines *ngSwitchCase="'friends'">
      <div *ngIf="noFriendsFound">
        <h5 class="name">No friends found out</h5>
      </div>

      <div>
        <ion-item style="background-color: transparent;" *ngFor="let f of feed">
          <ion-item (click)="openSpot(f.FriendsVenuesDistanceVenue.Id)" style="background-color: rgba(16, 16, 16, 0.344);" class="slidingOptions">
            <ion-avatar class="item-avatar" item-start>
              <img *ngIf="f.FriendsVenuesDistanceUser.Image != ''" src="{{f.FriendsVenuesDistanceUser.Image}}" [lazyLoad]="f.FriendsVenuesDistanceUser.TinyImage"
                [offset]="0" [scrollTarget]="container._scroll._el">
              <img *ngIf="f.FriendsVenuesDistanceUser.Image == ''" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaiqeTVjJF7fRIakIA28Yuwo9jWPkbRbq6HAdwdopF3QwGvEIxGg">
            </ion-avatar>
            <h2 class="name">{{f.FriendsVenuesDistanceUser.FullName}}</h2>
            <p style="color: rgb(206, 206, 206);">
              <ion-icon class="icon" name="ios-flag-outline"></ion-icon>
              <a style="padding-top:8px;padding-right: 10px;padding-left: 10px;" class="location locationBorder">{{f.FriendsVenuesDistanceVenue.Name}}</a>
              <ion-icon style="padding-left: 10px;" class="icon" name="ios-pin-outline"></ion-icon>
              <span style="padding-right: 10px;padding-left: 10px;" class="location">{{f.Distance}} Km away</span>

            </p>
          </ion-item>
        </ion-item>
      </div>

      <!--
        <ion-item-sliding style="background-color: transparent;" >
          <ion-item style="background-color: rgba(16, 16, 16, 0.344);" class="slidingOptions">
            <ion-avatar class="item-avatar" item-start>
              <img src="https://scontent.fjnb4-1.fna.fbcdn.net/v/t1.0-9/17308795_10154420690011658_8202197361070561368_n.jpg?_nc_cat=0&oh=1d19c88295264f3a89e20b6529bb1508&oe=5BD3156D">
            </ion-avatar>
            <h2 class="name">Firas Khan</h2>
            <p style="color: rgb(206, 206, 206);">
              <ion-icon class="icon" name="ios-flag-outline"></ion-icon>
              <a style="padding-top:8px;padding-right: 10px;padding-left: 10px;" class="location locationBorder">Madison</a>
              <ion-icon style="padding-left: 10px;" class="icon" name="ios-pin-outline"></ion-icon>
              <span style="padding-right: 10px;padding-left: 10px;" class="location">15 Km away</span>
        
            </p>
          </ion-item>
          <ion-item-options side="left">
            <button ion-button color="secondary">
              <ion-icon name="md-share"></ion-icon>
              Share
            </button>
           
          </ion-item-options>
          <ion-item-options  side="right">
            <button class="slidingButton" ion-button color="primary">
              <ion-icon name="md-open"></ion-icon>
              View
            </button>
            <button class="slidingButton" ion-button color="dark">
              <ion-icon name="md-checkbox-outline"></ion-icon>
              Check in
            </button>
          </ion-item-options>
        </ion-item-sliding>
  
        <ion-item-sliding style="background-color: transparent;" >
            <ion-item style="background-color: rgba(16, 16, 16, 0.344);" class="slidingOptions">
              <ion-avatar class="item-avatar" item-start>
                <img src="https://scontent-jnb1-1.xx.fbcdn.net/v/t1.0-9/20431616_10155512713527789_1435786524904550551_n.jpg?_nc_cat=0&oh=f686bb136bf10aa73091287edcb40095&oe=5BE2BE11">
              </ion-avatar>
              <h2 class="name">Sushil Jeewa</h2>
              <p style="color: rgb(206, 206, 206);">
                <ion-icon class="icon" name="ios-flag-outline"></ion-icon>
                <a style="padding-top:8px;padding-right: 10px;padding-left: 10px;" class="location locationBorder">Beerhouse</a>
                <ion-icon style="padding-left: 10px;" class="icon" name="ios-pin-outline"></ion-icon>
                <span style="padding-right: 10px;padding-left: 10px;" class="location">7 Km away</span>
          
              </p>
            </ion-item>
            <ion-item-options side="left">
              <button ion-button color="secondary">
                <ion-icon name="md-share"></ion-icon>
                Share
              </button>
             
            </ion-item-options>
            <ion-item-options  side="right">
              <button class="slidingButton" ion-button color="primary">
                <ion-icon name="md-open"></ion-icon>
                View
              </button>
              <button class="slidingButton" ion-button color="dark">
                <ion-icon name="md-checkbox-outline"></ion-icon>
                Check in
              </button>
            </ion-item-options>
          </ion-item-sliding>
  
          <ion-item-sliding style="background-color: transparent;" >
              <ion-item style="background-color: rgba(16, 16, 16, 0.344);" class="slidingOptions">
                <ion-avatar class="item-avatar" item-start>
                  <img src="https://scontent-jnb1-1.xx.fbcdn.net/v/t1.0-9/11707616_10153600369829305_7221040656569249_n.jpg?_nc_cat=0&oh=c05921f26169f6cf92cdf11051e9a202&oe=5BD9EBEA">
                </ion-avatar>
                <h2 class="name">Ziyaad Khan</h2>
                <p style="color: rgb(206, 206, 206);">
                  <ion-icon class="icon" name="ios-flag-outline"></ion-icon>
                  <a style="padding-top:8px;padding-right: 10px;padding-left: 10px;" class="location locationBorder">Time out</a>
                  <ion-icon style="padding-left: 10px;" class="icon" name="ios-pin-outline"></ion-icon>
                  <span style="padding-right: 10px;padding-left: 10px;" class="location">3 Km away</span>
            
                </p>
              </ion-item>
              <ion-item-options side="left">
                <button ion-button color="secondary">
                  <ion-icon name="md-share"></ion-icon>
                  Share
                </button>
               
              </ion-item-options>
              <ion-item-options  side="right">
                <button class="slidingButton" ion-button color="primary">
                  <ion-icon name="md-open"></ion-icon>
                  View
                </button>
                <button class="slidingButton" ion-button color="dark">
                  <ion-icon name="md-checkbox-outline"></ion-icon>
                  Check in
                </button>
              </ion-item-options>
            </ion-item-sliding>
  
            <ion-item-sliding style="background-color: transparent;" >
                <ion-item style="background-color: rgba(16, 16, 16, 0.344);" class="slidingOptions">
                  <ion-avatar class="item-avatar" item-start>
                    <img src="https://scontent-jnb1-1.xx.fbcdn.net/v/t1.0-9/26814892_10216039651010422_6389060750781273438_n.jpg?_nc_cat=0&oh=e590dd5c1b43a0b34ce7878922109ad7&oe=5BD8E9C1">
                  </ion-avatar>
                  <h2 class="name">Sheldon Govender</h2>
                  <p style="color: rgb(206, 206, 206);">
                    <ion-icon class="icon" name="ios-flag-outline"></ion-icon>
                    <a style="padding-top:8px;padding-right: 10px;padding-left: 10px;" class="location locationBorder">Ball breakers</a>
                    <ion-icon style="padding-left: 10px;" class="icon" name="ios-pin-outline"></ion-icon>
                <span style="padding-right: 10px;padding-left: 10px;" class="location">21 Km away</span>
              
                  </p>
                </ion-item>
                <ion-item-options side="left">
                  <button ion-button color="secondary">
                    <ion-icon name="md-share"></ion-icon>
                    Share
                  </button>
                 
                </ion-item-options>
                <ion-item-options  side="right">
                  <button class="slidingButton" ion-button color="primary">
                    <ion-icon name="md-open"></ion-icon>
                    View
                  </button>
                  <button class="slidingButton" ion-button color="dark">
                    <ion-icon name="md-checkbox-outline"></ion-icon>
                    Check in
                  </button>
                </ion-item-options>
              </ion-item-sliding>
  
              <ion-item-sliding style="background-color: transparent;" >
                  <ion-item style="background-color: rgba(16, 16, 16, 0.344);" class="slidingOptions">
                    <ion-avatar class="item-avatar" item-start>
                      <img src="https://scontent-jnb1-1.xx.fbcdn.net/v/t1.0-9/27973852_10208789351249853_6185149774207739176_n.jpg?_nc_cat=0&oh=e316bb26d8b42561d5724855cdc7ba4f&oe=5BE90CD0">
                    </ion-avatar>
                    <h2 class="name">Eshan Vandayaer</h2>
                    <p style="color: rgb(206, 206, 206);">
                      <ion-icon class="icon" name="ios-flag-outline"></ion-icon>
                      <a style="padding-top:8px;padding-right: 10px;padding-left: 10px;" class="location locationBorder">Stones</a>
                      <ion-icon style="padding-left: 10px;" class="icon" name="ios-pin-outline"></ion-icon>
                      <span style="padding-right: 10px;padding-left: 10px;" class="location">17 Km away</span>
                
                    </p>
                  </ion-item>
                  <ion-item-options side="left">
                    <button ion-button color="secondary">
                      <ion-icon name="md-share"></ion-icon>
                      Share
                    </button>
                   
                  </ion-item-options>
                  <ion-item-options  side="right">
                    <button class="slidingButton" ion-button color="primary">
                      <ion-icon name="md-open"></ion-icon>
                      View
                    </button>
                    <button class="slidingButton" ion-button color="dark">
                      <ion-icon name="md-checkbox-outline"></ion-icon>
                      Check in
                    </button>
                  </ion-item-options>
                </ion-item-sliding>
                -->
    </ion-list>
  </div>
</ion-content>
