


<ion-content class="ion-content"  style="background-image: url('assets/imgs/landingBackground.jpg');background-size: cover;"
    class="modal_size">
    <ion-icon *ngIf="initOpen == false" (tap)="goBack();" class="backIcon" name="arrow-round-back"></ion-icon>
    <h4 class="mainHeading">Location Settings</h4>
    <br>
    <div *ngIf="showMap" id="map"></div>
    <div>
        <ion-grid>
            <ion-row>
                <ion-col width-20>
                    <ion-label class="radiusLabel">Radius</ion-label>
                </ion-col>
                <ion-col width-60>
                    <ion-range (ionChange)="updateRadius()" max="150" step="5" snaps="true" color="main" [(ngModel)]="distanceRadius"></ion-range>
                </ion-col>
                <ion-col width-20>
                    <ion-label class="radiusLabel">
                        <span style="color:#488AFF">{{distanceRadius}}</span>
                        <span>Km's</span>
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div class="inputBox">
            <ion-item no-lines>
                <ion-label>Use GPS</ion-label>
                <ion-toggle [(ngModel)]="useGps" (ionChange)="gpsToggle()"></ion-toggle>
            </ion-item>
            <ion-item no-lines>
                <ion-label>Use Address</ion-label>
                <ion-toggle [(ngModel)]="useAddress" (ionChange)="addressToggle()"></ion-toggle>
            </ion-item>
        </div>
        <br>
        <div style="width:90%;margin-left:5%;">
            <span style="font-family: 'Assistant', sans-serif !important;font-size: 12px;color: rgb(220, 220, 220);text-align:center;">- Select GPS to use current location</span>
        </div>
        <div style="width:90%;margin-left:5%;">
            <span style="font-family: 'Assistant', sans-serif !important;font-size: 12px;color: rgb(220, 220, 220);text-align:center;">- Select Address to enter preferred location</span>
        </div>
        <br>
        <div class="inputBox" *ngIf="useAddress">
            <div style="text-align: center;width: 100%;">
                <ion-item no-lines *ngIf="addressSaved != null">
                    Address: {{addressSaved}}
                </ion-item>
                <ion-item *ngIf="addressSaved == null" no-lines>
                    No Address Saved
                </ion-item>
            </div>
            <br>
            <div *ngIf="userAddressBook.length != 0" style="text-align: center;">
                <a *ngFor="let userAddress of userAddressBook" (click)="selectedAddress(userAddress)" color="primary">{{userAddress}}
                    <br>
                    <br>
                </a>
            </div>
            <div style="text-align: center;">
                <a *ngIf="userAddressBook.length != 0" (click)="clearAddressHistory()" color="primary">Clear History
                    <br>
                    <br>
                </a>
            </div>
            <br>
            <button *ngIf="showEdit" block color="light" style="border-radius: 5px;" outline ion-button class="buttonText" (tap)="editAddress()">Add Address</button>

            <br>
            <div class="searchBar" *ngIf="!addressSelected">
                <ion-searchbar [(ngModel)]="term" [showCancelButton]="false" (ionInput)="getPredictions(term)" (ionCancel)="cancelSearch()"
                    (ionClear)="clearSearch()" placeholder="Start typing and select ..." (keyup.enter)="closeKeyboard();">
                </ion-searchbar>
            </div>

            <div *ngIf="!addressSelected">
                <ion-list>
                    <ion-item *ngFor="let item of addressPredictions" (click)="chooseAddress(item)">
                        {{ item }}
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <br>
        <br>
        <div *ngIf="showButtons">
            <ion-item no-lines class="predictedAddress">
                {{ address }}
            </ion-item>
            <button ion-button outline bock class="clearButton" (tap)="clearSearch()">Clear</button>
            <button ion-button class="saveButton" (tap)="saveAddress()">Save</button>
        </div>
    </div>

    <br>
    <button *ngIf="radiusChanged && !showButtons && (useGps == true || useAddress  == true)" style="font-size:18px;" ion-button
        full class="loginButton" (click)="saveRadius()">Save</button>
</ion-content>