ion-app._gmaps_cdv_ .nav-decor {
  background-color: transparent !important;
}

page-locationModal {
  #map {
    height: 30%;
    width: 90%;
    margin-left: 5%;
    background-color: transparent !important;
  }
  .cancelButton {
    position: fixed;
    border: 1.5px solid;
    height: 45px;
    border-radius: 20px;
    background-color: transparent;
    border-color: darken(#CF0152, 10%);
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
    padding: 2px;
    margin-bottom: 20px;
  }
  .backIcon {
    position: fixed;
    margin-top: 4%;
    color: white;
    font-size: 30px !important;
    margin-left: 4%;
    z-index: 100;
  }
  .loginButton {
    height: 45px;
    border-radius: 25px;
    background-color: primary;
    width: 50%;
    margin-left: 25%; //margin-top: 32%;
  }
  .mainHeading {
    font-family: 'Assistant', sans-serif !important;
    font-size: 25px;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 15px black, 0 0 25px black, 0 0 20px black;
  }
  .clearButton {
    position: left;
    height: 45px;
    margin-top: 10px;
    width: 40%;
    margin-left: 5%;
    padding: 2px;
    border: 1.5px solid;
    height: 45px;
    border-radius: 8px;
    background-color: transparent;
    border-color: white;
  }
  .predictedAddress {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
  }
  .saveButton {
    position: right;
    height: 45px;
    margin-top: 10px;
    width: 40%;
    margin-left: 5%;
    padding: 2px;
    border: 0px solid;
    height: 45px;
    border-radius: 8px;
    color: black;
    background-color: white;
  }
  .searchBar {
    border-radius: 35px;
  }
  .editButton {
    //position: fixed;
    border: 1.5px solid;
    height: 45px;
    border-radius: 20px;
    background-color: transparent;
    border-color: darken(#CF0152, 10%); //margin-top: 15px;
    width: 50%; //margin-left: 5%;
    padding: 2px; //margin-bottom: 20px;
    margin: 0 auto;
    display: block;
  }
  .radiusLabel {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    line-height: 34px;
    font-family: 'Assistant', sans-serif !important;
    font-size: 18px;
    color: white;
    text-shadow: 1px 1px 15px black, 0 0 25px black, 0 0 20px black;
  }
  .inputBox {
    background-color: rgba(0, 0, 0, 0.3);
    width: 90%;
    margin-left: 5%;
    border-radius: 3px;
    color: white;
  }
  .inputBox ion-item {
    background-color: rgba(0, 0, 0, 0.0);
    width: 90%;
    margin-left: 5%;
    border-radius: 3px;
    color: white;
    font-family: 'Assistant', sans-serif !important;
  }
  .buttonText {
    margin-top: 20%;
    width: 90%;
    margin-left: 5%;
    box-shadow: 1px 1px 5px #0D1720, 0 0 7px #0D1720, 0 0 9px #0D1720, 0 0 13px #0D1720, 0 0 16px #0D1720;
  }
}
