page-FriendsModal {
    ion-content {
        background-image: url('../assets/imgs/landingBackground.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }
      .mainHeading {
        font-family: 'Assistant', sans-serif !important;
        font-size: 25px;
        width: 100%;
        text-align: center;
        color: white;
        text-shadow: 1px 1px 15px black, 0 0 25px black, 0 0 20px black;
      }
      .backIcon {
        position: fixed;
        margin-top: 4%;
        color: white;
        font-size: 30px !important;
        margin-left: 4%;
        z-index: 100;
      }
      html,
      body {
        height: 100%;
      }
      .name {
        font-size: 12px;
        font-family: 'Assistant', sans-serif !important;
        margin: auto;
        color: white;
      }
      .icon {
        display: inline-block;
        font-size: 30px;
        color: rgb(202, 202, 202);
        vertical-align: middle;
      }
      .searchBar {
        border-radius: 35px;
      }
      ion-avatar img {
        width: 50% !important;
        height: 50% !important;
        max-width: 60px !important; //any size
        max-height: 60px !important; //any size
        margin: auto;
      }
      ion-avatar{
        position: relative;
        ion-icon{
            position: absolute;
            bottom: -5px;
            right: -5px;

        }
    }
      .list-md ion-item-options .button {
        height: 90%;
      }
      .item-ios.item-block .item-inner{
          border: none;
      }
      .item-md.item-block .item-inner{
        border: none;
      }

      .invitedItem{
        background-color: transparent;
        opacity: 0.3;
      }

      .friendItem{
        background-color: transparent
      }
  }
  