<ion-content>
    <ion-icon (tap)="goBack();" class="backIcon" name="arrow-round-back" color="primary"></ion-icon>
    <h4 class="mainHeading">Invite</h4>
    <br>
    <div class="searchBar">
        <ion-searchbar [(ngModel)]="term" [showCancelButton]="false" (ionInput)="searchFriends(term)" (ionCancel)="cancelSearch()"
            (ionClear)="clearSearch()" placeholder="Start typing ..." (keyup.enter)="closeKeyboard();">
        </ion-searchbar>
    </div>
    <ion-grid style="background-color: transparent;">
        <ion-row style="background-color: rgba(16, 16, 16, 0.344);">
            <ion-col *ngFor="let item of friends" style="background-color: transparent" col-4>
            <ion-item class="invitedItem" *ngIf="item.Invited">
                    <ion-avatar class="item-avatar">
                        <img *ngIf="item.Image != ''" src="{{item.Image}}" [lazyLoad]="item.TinyImage" [offset]="0" [scrollTarget]="container._scroll._el">
                        <img *ngIf="item.Image == ''" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaiqeTVjJF7fRIakIA28Yuwo9jWPkbRbq6HAdwdopF3QwGvEIxGg">
                        <ion-icon [name]="item.Selected === true ? 'md-checkmark' : ''"></ion-icon>
                    </ion-avatar>
                    <p class="name">{{ item.FullName }}</p>
                </ion-item>
                <ion-item class="friendItem" (click)="friendSelected(item)" *ngIf="!item.Invited">
                    <ion-avatar class="item-avatar">
                        <img *ngIf="item.Image != ''" src="{{item.Image}}" [lazyLoad]="item.TinyImage" [offset]="0" [scrollTarget]="container._scroll._el">
                        <img *ngIf="item.Image == ''" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaiqeTVjJF7fRIakIA28Yuwo9jWPkbRbq6HAdwdopF3QwGvEIxGg">
                        <ion-icon [name]="item.Selected === true ? 'md-checkmark' : ''"></ion-icon>
                    </ion-avatar>
                    <p class="name">{{ item.FullName }}</p>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div style="width: 100%;text-align: center;">
        <span *ngIf="noFriendsFound">
            <br>No Friends Found</span>
    </div>
</ion-content>
<ion-footer>
    <button ion-button class="buttonText" (click)="sendInvites();" block color="light" outline>Send</button>
</ion-footer>