<ion-content padding #container>

  <ion-list no-lines>


    <form class="form" [formGroup]="registrationForm">
      <div [hidden]="step != '1'">
        <h1 class="mainHeading" style="color: white;margin-top: 5%;">Registration</h1>
        <div style="margin-top:8%;" class="inputBox">
          <ion-item>
            <ion-label>Username</ion-label>
            <ion-input [class.invalid]="!registrationForm.controls.username.valid && (registrationForm.controls.username.dirty || submitAttempt)"
              formControlName="username" type="text"></ion-input>
          </ion-item>

          <ion-item class="usernameText" *ngIf="registrationForm.controls.username.pending">
            <p style="color: rgb(226, 226, 226) !important;">Checking username...</p>
          </ion-item>

          <ion-item class="usernameText" *ngIf="!registrationForm.controls.username.valid && !registrationForm.controls.username.pending && (registrationForm.controls.username.dirty || submitAttempt) && registrationForm.value.username != ''">
            <p style="color: rgb(255, 162, 162) !important;">Sorry, that username is already taken</p>
          </ion-item>

          <ion-item class="usernameText" *ngIf="registrationForm.value.username == '' && submitAttempt">
            <p style="color: rgb(255, 162, 162) !important;">Sorry, that username cannot be used</p>
          </ion-item>

          <ion-item class="usernameText" *ngIf="registrationForm.controls.username.valid && !registrationForm.controls.username.pending && (registrationForm.controls.username.dirty || submitAttempt)">
            <p style="color: rgb(137, 255, 137) !important;">Username is Available!</p>
          </ion-item>
        </div>

        <div style="margin-top:3%;" class="inputBox">
          <ion-item>
            <ion-label>Full Name</ion-label>
            <ion-input [class.invalid]="!registrationForm.controls.FullName.valid && (registrationForm.controls.FullName.dirty || submitAttempt)"
              formControlName="FullName" type="text"></ion-input>
          </ion-item>
        </div>

        <ion-item class="errorMessage" style="margin-top: -1%;" *ngIf="!registrationForm.controls.FullName.valid  && registrationForm.controls.FullName.dirty && submitAttempt">
          <p style="color: rgb(253, 166, 166) !important;">Please enter a valid name</p>
        </ion-item>

        <div class="inputBox">
          <ion-item>
            <ion-label>Password</ion-label>
            <ion-input (keyup.enter)="closeKeyboard();" class="my-input" *ngIf="!showPassword" formControlName="hashedPassword" type="password"></ion-input>
            <ion-input (keyup.enter)="closeKeyboard();" class="my-input" *ngIf="showPassword" formControlName="hashedPassword" type="text"></ion-input>
          </ion-item>
        </div>

        <ion-item class="passwordShowText">
          <ion-label style="color: white;">Show Password</ion-label>
          <ion-toggle [(ngModel)]="showPassword" [ngModelOptions]="{standalone: true}"></ion-toggle>
        </ion-item>

        <ion-item class="errorMessage" style="margin-top: -3%;" *ngIf="!registrationForm.controls.hashedPassword.valid  && registrationForm.controls.hashedPassword.dirty && submitAttempt">
          <p style="color: rgb(253, 166, 166) !important;">Please enter a valid password.
            <br>(minimum of 6 characters/numbers)</p>
        </ion-item>

        <div style="margin-top:2%;" class="inputBox">
          <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select formControlName="gender">
              <ion-option style="font-family: 'Assistant', sans-serif !important;
              text-shadow: 1px 1px 2px black, 1px 1px  5px black, 1px 1px  10px black;" value="Female">Female</ion-option>
              <ion-option style="font-family: 'Assistant', sans-serif !important;
              text-shadow: 1px 1px 2px black, 1px 1px  5px black, 1px 1px  10px black;" value="Male">Male</ion-option>
            </ion-select>
          </ion-item>
        </div>

      </div>

      <div [hidden]="step != '2'" style="padding-bottom: 13%;">

        <div style="margin-top:10%;" class="inputBox">
          <ion-item>
            <ion-label style="font-size: 18px;">Registration Type</ion-label>
            <ion-select style="font-size: 18px;" formControlName="registrationType">
              <ion-option value="email">Email</ion-option>
              <ion-option value="mobileNumber">Mobile</ion-option>
            </ion-select>
          </ion-item>
        </div>

        <div style="text-align: center;" [hidden]="registrationForm.value.registrationType != 'mobileNumber'">
          <br>
          <br>
          <h1 class="mainHeading" style="color: white;">Mobile Number</h1>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="inputBoxMobile">
                  <ion-item>
                    <ion-input (keyup.enter)="closeKeyboard();" maxlength="4" style="font-size: 22px;" [ngModelOptions]="{standalone: true}" [(ngModel)]="countryCode" type="text"></ion-input>
                  </ion-item>
                </div>
              </ion-col>
              <ion-col col-8>
                <div class="inputBoxMobile">
                  <ion-item>
                    <ion-input (keyup.enter)="closeKeyboard();" placeholder="827414525" style="font-size: 22px;text-align: center;align-content: center;" formControlName="CellNumber"
                      type="text"></ion-input>
                  </ion-item>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-item class="errorMessage" *ngIf="!registrationForm.controls.CellNumber.valid  && registrationForm.controls.CellNumber.dirty && mobileSubmitAttempt">
            <p style="color: rgb(252, 176, 176);">Please enter a mobile number.</p>
            <p style="color: rgb(252, 176, 176);">Minimum of 9 Numbers is required)</p>
            <p style="color: rgb(252, 176, 176);">Country Code is required</p>
          </ion-item>
        </div>

        <div style="text-align: center;" [hidden]="registrationForm.value.registrationType != 'email'">
          <br>
          <br>
          <h1 class="mainHeading" style="color: white;">Email Address</h1>

          <div style="margin-top: 9%;" class="inputBoxMobile">
            <ion-item>
              <ion-input (keyup.enter)="closeKeyboard();" placeholder="Johnny@live.com" style="font-size: 20px;text-align: center;align-content: center;" formControlName="emailAddress"
                type="text"></ion-input>
            </ion-item>
          </div>
          <ion-item class="errorMessage" *ngIf="!registrationForm.controls.emailAddress.valid  && registrationForm.controls.emailAddress.dirty && emailSubmitAttempt">
            <p style="color: rgb(252, 176, 176);">Please enter a valid email address.</p>
          </ion-item>

        </div>

      </div>

      <div [hidden]="step != '3'">
        <h1 style="color: white;font-family: 'Assistant', sans-serif !important;
        text-shadow: 1px 1px 15px black, 0 0 25px black, 0 0 20px black;">Profile Image</h1>
        <br>
        <img (click)="uploadImage();" class="profileImage" src="{{imageUrl}}" [lazyLoad]="imageUrl"
        [offset]="100" [scrollTarget]="container._scroll._el" >
        <p style="text-align: center;color: white;margin-top: 5%;font-family: 'Assistant', sans-serif !important;
        text-shadow: 1px 1px 15px black, 0 0 25px black, 0 0 20px black;">Click on the image to open your Gallery</p>
      </div>

    </form>


  </ion-list>

  <div class="bottomButtons">
    <button style="border-radius: 5px;" ion-button class="buttonText" [disabled]="!imageUploadedSuccess && step == '3'" (click)="goToNextStep();"
      block color="light" outline>Continue</button>
    <button style="margin-top: 5%;border-radius: 5px;" [hidden]="step == '1' || step == '2'" ion-button class="buttonText" (click)="skipStep();"
      block color="light" outline>Skip</button>
    <button style="margin-top: 5%;border-radius: 5px;" [hidden]="step == '3'" ion-button class="buttonText" (click)="cancel();" block color="light">Back</button>
  </div>



</ion-content>