page-home {

  html, body {
    height: 100%;
}

    .card-background-page {

        ion-card {
          position: relative;
          text-align: left;
        }
      
        .card-title {
          position: absolute;
          top:2%;
          margin-left: 3%;
          font-size: 25px;
          text-transform:uppercase;
          font-family: 'Assistant', sans-serif !important;
          opacity: 1;
          width: 90%;
          color: white;
          text-shadow: 2px 2px 5px black, 2px 2px 10px black, 2px 2px 15px black, 2px 2px 20px black, 2px 2px 25px black;
     
        }
      
        .scroll-content{
          height: 95%;
          margin-top: -4%;
        }

        .card-subtitle {
          font-size: 1.3em;
          text-shadow: 2px 2px 5px black, 2px 2px 10px black, 2px 2px 15px black, 2px 2px 20px black, 2px 2px 25px black;
          position: absolute;
          font-weight: 300 !important;
          top: 86%;
          font-family: 'Rajdhani', sans-serif !important;
          width: 100%;
          color: #fff;
          margin-left: 4%;
        }

        .card-subtitle-text{
          background-color: rgba(0, 0, 0, 0.7) !important;
        }

        .km-text{
          border-style: solid;
          border-color:white;
          border-width: 0.5px;
          display: table-cell;
          height: 40px; 
          width: 40px;
          float: right;
          line-height: 36px;
          text-align: center;
          vertical-align: middle;
          border-radius: 50%;
          color: #fff;
          background-color: #00000070;
        }

        .type{
          font-size: 1.3em;
            position: absolute;
            top: 87%;
            font-weight: 200 !important;
            font-family: 'Assistant', sans-serif !important;
            width: 100%;
            color: #fff;
            text-align: right;
           padding-right: 4%;
            text-shadow: 1px 1px 15px black, 1px 0 25px black, 1px 1px 30px black;
       
        }

        .distance{
            font-size: 0.9em;
            position: absolute;
            top: 85%;
            font-family: 'Assistant', sans-serif !important;
            width: 100%;
            color: #fff; text-align: right;
           padding-right: 3%;
           text-shadow: 2px 2px 5px black, 2px 2px 10px black, 2px 2px 15px black, 2px 2px 20px black, 2px 2px 25px black;
        }

        
      
      }

      .cardDiv{
        vertical-align: middle;
        text-align:center;
        height:350px;
        margin-left: 0%;
        width:100%;
        margin-bottom: 0%;
        background-color: #000000;
      }

      .cardImage{
            opacity: 0.5;
            //filter: blur(0.1em);
            margin-left: auto;
            margin-right: auto;
            display: block;
            height:350px;
            text-align:center;
            width:100%;
      }

      .textBox{
        height: 30px;
        margin-top: -30%;
        background-color: black !important;
      }

      .card-subtitle-times {
        font-size: 1.3em;
        text-shadow: 2px 2px 5px black, 2px 2px 10px black, 2px 2px 15px black, 2px 2px 20px black, 2px 2px 25px black;
        position: absolute;
        font-weight: 300 !important;
        top: 76%;
        font-family: 'Rajdhani', sans-serif !important;
        width: 100%;
        color: #fff;
        margin-left: 4%;
      }
}
