<ion-content class="card-background-page" #container>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <span>
    <ion-card class="cardDiv" *ngFor="let venue of venues" (click)="openSpot(venue.Id);">
      <img class="cardImage" src="{{venue.TinyImage}}" [lazyLoad]="venue.Image" [offset]="100" [scrollTarget]="container._scroll._el"
      />

      <div class="card-title">{{venue.Name}}</div>
      <div class="card-subtitle-times" *ngIf="venue.Times != null">
        <ion-row *ngFor="let time of venue.Times;">
            <span class="card-subtitle-text">
                Opens @ {{time.Open}} &bull; Closes @ {{time.Close}}
            </span>
        </ion-row>
      </div>
      <div class="card-subtitle-times" *ngIf="venue.Times === null ||  (venue.Hours != undefined && venue.Hours.Days == null)">
          <ion-row>
              <span class="card-subtitle-text">
                  No operating hours available.
              </span>
          </ion-row>
        </div>
      <div class="card-subtitle">
        <span class="card-subtitle-text">
          &bull; {{venue.Views}} Views
        </span>
        <span style="width: 80%;
        color: white;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;">
        <span *ngIf="venue.VenueTypes != null">
            <span class="card-subtitle-text" *ngFor="let venueType of venue.VenueTypes; let isLast=last">
              &bull; {{venueTypes[venueType - 1].Description}}{{isLast ? '' : ', '}}
            </span>
          </span>
          <span *ngIf="venue.VenueTypes == null">
            <span class="card-subtitle-text">
              &bull; No venue types allocated
            </span>
          </span>
        </span>
      </div>
      <div class="distance">
        <span class=" km-text">
          {{venue.Distance}}Km
        </span>
      </div>

    </ion-card>
  </span>

  <ion-infinite-scroll *ngIf="showInfiniteScroll" (ionInfinite)="doInfinite($event)" threshold="1%">
    <ion-infinite-scroll-content loadingSpinner="">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
