<ion-content #container padding >
  <h1 class="mainHeading" style="text-align: center;color: white;">Settings</h1>
  <div (click)="uploadImage()" class="imageCircle">
    <img src="{{imageUrl}}" [lazyLoad]="imageUrl"
    [offset]="0" [scrollTarget]="container._scroll._el" >
  </div>
  <div (click)="showFullNamePrompt();" class="name">{{name}}<span style="color:#0095FF">*</span></div>
  <div (click)="showGenderRadio();" class="gender">{{gender}}<span style="color:#0095FF">*</span></div>
  <!--<ion-grid style="margin-top: 5%;">
    <ion-row>
      <ion-col style="border-right-color: white;border-right-style: solid;border-right-width: 1px;">
        <div class="folVal">20, 801</div>
        <div class="folHeading">Following</div>
      </ion-col>
      <ion-col>
        <div class="folVal">24, 541</div>
        <div class="folHeading">Followers</div>
      </ion-col>
    </ion-row>
  </ion-grid>-->

  <button (click)="openFriends();" style="margin-top: 5%;" ion-button class="buttonTextSettings" block color="light" outline>
    <span class="buttonTextString">Friends</span>
  </button>
  <!--<button style="margin-top: 5%;" ion-button class="buttonTextSettings" block color="light" outline>
    <span class="buttonTextString">Create Private Party</span>
  </button>-->
  <button (click)="openCreateVenue();" style="margin-top: 5%;" ion-button class="buttonTextSettings" block color="light" outline>
    <span class="buttonTextString">Create Venue</span>
  </button>
  <button style="margin-top: 5%;" (click)="presentLocationModal();" ion-button class="buttonTextSettings" block color="light"
    outline>
    <span class="buttonTextString">Location Settings</span>
  </button>
  <button style="margin-top: 5%;" (click)="openInvitations();" ion-button class="buttonTextSettings" block color="light"
    outline>
    <span class="buttonTextString">Invitations</span>
  </button>

  <ion-card class="profileCard" style="margin-top: 10%;">
    <ion-list>

      <button (click)="showMobileNumPrompt();" class="profileCard" ion-item>
        <ion-icon name="call" item-start></ion-icon>
        <span class="contactBox">
          <span *ngIf="mobileNum == 'null'">
            Update Mobile Number
          </span>
          <span *ngIf="mobileNum != 'null'">
            {{mobileNum}}
          </span>
        </span>
      </button>

      <button (click)="showEmailPrompt();" class="profileCard" ion-item>
        <ion-icon name="md-mail" item-start></ion-icon>
        <span class="contactBox">
          <span *ngIf="email == 'null'">
            Update Email
          </span>
          <span *ngIf="email != 'null'">
            {{email}}
          </span>
        </span>
      </button>

    </ion-list>
  </ion-card>
  <div style="text-align: center;margin-top: 5%;">
    <a (click)="showConfirmExit();">Logout</a>
  </div>
</ion-content>