page-settings {
  ion-content {
    background-image: url('../assets/imgs/landingBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .profileCard {
    font-family: 'Assistant', sans-serif !important;
    background-color: rgba(16, 16, 16, 0.344);
    color: white;
  }
  .input-wrapper {
    font-weight: bold !important;
  }
  .imageCircle {
    width: 120px;
    height: 120px;
    margin-top: 7%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .imageCircle img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  .contactBox {
    float: right;
    display: block;
    width: 200px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .buttonTextSettings {
    font-size: 18px;
    height: 50px;
    text-transform: none;
    border-width: 2px;
    font-family: 'Assistant', sans-serif !important;
    box-shadow: 1px 1px 5px #0D1720, 0 0 7px #0D1720, 0 0 9px #0D1720;
  }
  .buttonTextString {
    text-shadow: 1px 1px 10px black, 0 0 15px black, 0 0 20px black, 0 0 25px black;
  }
  .name {
    font-size: 28px;
    font-family: 'Assistant', sans-serif !important;
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 5%;
    text-shadow: 1px 1px 15px black, 0 0 25px black, 0 0 20px black;
  }
  .mainHeading {
    font-family: 'Assistant', sans-serif !important;
    font-size: 25px;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 15px black, 0 0 25px black, 0 0 20px black;
  }
  .folHeading {
    font-size: 20px;
    font-family: 'Assistant', sans-serif !important;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 15px black, 0 0 25px black, 0 0 20px black;
  }
  .folVal {
    font-family: 'Rajdhani', sans-serif !important;
    font-size: 20px;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 15px black, 0 0 25px black, 0 0 20px black;
  }
  .gender {
    font-size: 20px;
    font-family: 'Assistant', sans-serif !important;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 15px black, 0 0 25px black, 0 0 20px black;
  }
}
