<ion-content #container class="card-background-page">
  <ion-icon (tap)="goBack();" class="backIcon" name="arrow-round-back"></ion-icon>
  <br>
  <div padding>
    <ion-segment [(ngModel)]="selectedOption">
      <ion-segment-button value="friends">
        Friends
      </ion-segment-button>
      <ion-segment-button value="requests">
        Requests
      </ion-segment-button>
      <ion-segment-button value="search">
        Search
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="selectedOption">
    <ion-list no-lines *ngSwitchCase="'friends'">

      <ion-item *ngFor="let friend of friends" style="background-color: transparent;">
        <ion-item (click)="openFriend(friend.UserId);" style="background-color: rgba(16, 16, 16, 0.344);" class="slidingOptions">
          <ion-avatar class="item-avatar" item-start>
            <img *ngIf="friend.Image != ''" src="{{friend.Image}}" [lazyLoad]="friend.TinyImage" [offset]="0" [scrollTarget]="container._scroll._el">
            <img *ngIf="friend.Image == ''" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaiqeTVjJF7fRIakIA28Yuwo9jWPkbRbq6HAdwdopF3QwGvEIxGg">
          </ion-avatar>
          <h2 class="name">{{friend.FullName}}</h2>
        </ion-item>
      </ion-item>

    </ion-list>

    <ion-list no-lines *ngSwitchCase="'requests'">

      <ion-item *ngFor="let friend of friendRequests" style="background-color: transparent;">
        <ion-item (click)="acceptFriendRequest(friend.UserId,friend.FullName);" style="background-color: rgba(16, 16, 16, 0.344);"
          class="slidingOptions">
          <ion-avatar class="item-avatar" item-start>
            <img *ngIf="friend.Image != ''" src="{{friend.Image}}" [lazyLoad]="friend.TinyImage" [offset]="0" [scrollTarget]="container._scroll._el">
            <img *ngIf="friend.Image == ''" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaiqeTVjJF7fRIakIA28Yuwo9jWPkbRbq6HAdwdopF3QwGvEIxGg">
          </ion-avatar>
          <h2 class="name">{{friend.FullName}}</h2>
        </ion-item>
      </ion-item>
      <div style="width: 100%;text-align: center;color: white;">
        <span *ngIf="friendRequests != null && friendRequests.length < 1">
          <br>No New Friend Requests</span>
      </div>

    </ion-list>

    <ion-list no-lines *ngSwitchCase="'search'">

      <div class="searchBar">
        <ion-searchbar [(ngModel)]="term" [showCancelButton]="false" (ionInput)="searchFriends(term)" (ionCancel)="cancelSearch()"
          (ionClear)="clearSearch()" placeholder="Start typing ..." (keyup.enter)="closeKeyboard();">
        </ion-searchbar>
      </div>

      <div>
        <ion-list>
          <ion-item *ngFor="let item of friendsFound" style="background-color: transparent;">
            <ion-item (click)="addFriend(item.UserId,item.FullName);" style="background-color: rgba(16, 16, 16, 0.344);" class="slidingOptions">
              <ion-avatar class="item-avatar" item-start>
                <img *ngIf="item.Image != ''" src="{{item.Image}}" [lazyLoad]="item.TinyImage" [offset]="0" [scrollTarget]="container._scroll._el">
                <img *ngIf="item.Image == ''" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaiqeTVjJF7fRIakIA28Yuwo9jWPkbRbq6HAdwdopF3QwGvEIxGg">
              </ion-avatar>
              <h2 class="name">{{ item.FullName }}</h2>
            </ion-item>
          </ion-item>
          <div style="width: 100%;text-align: center;color: white;">
            <span *ngIf="noFriendsFound">
              <br>No Friends Found</span>
          </div>
        </ion-list>
      </div>

    </ion-list>
  </div>
</ion-content>
