page-friends {
  ion-content {
    background-image: url('../assets/imgs/landingBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .backIcon {
    position: fixed;
    margin-top: 4%;
    color: white;
    font-size: 30px !important;
    margin-left: 4%;
    z-index: 100;
  }
  html,
  body {
    height: 100%;
  }
  .name {
    font-size: 17px;
    font-family: 'Assistant', sans-serif !important;
  }
  .icon {
    display: inline-block;
    font-size: 30px;
    color: rgb(202, 202, 202);
    vertical-align: middle;
  }
  .searchBar {
    border-radius: 35px;
  }
  ion-avatar img {
    width: 100% !important;
    height: 100% !important;
    max-width: 60px !important; //any size
    max-height: 60px !important; //any size
  }
  ion-item-sliding {
    padding-bottom: 10px;
  }
  .location {
    font-family: 'Assistant', sans-serif !important;
    display: inline-block;
    font-size: 13px;
    width: 40%;
    text-align: center;
    vertical-align: middle;
  }
  .locationBorder {
    border-right-style: dotted;
    border-right-width: 2px;
    border-right-color: #fff;
    height: 30px;
  }
  .slidingButton {
    width: 80px;
  }
  .slidingOptions {
    color: white;
  }
  .list-md ion-item-options .button {
    height: 90%;
  }
  ion-item-sliding.active-slide ion-item-options {
    border-bottom: none !important;
  }
  .slidingOptions p {
    color: white;
  }
}
