page-invitations {
    ion-content {
      background-image: url('../assets/imgs/landingBackground.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .mainHeading {
        font-family: 'Assistant', sans-serif !important;
        font-size: 25px;
        width: 100%;
        text-align: center;
        color: white;
        text-shadow: 1px 1px 15px black, 0 0 25px black, 0 0 20px black;
    }
    .backIcon {
        position: fixed;
        margin-top: 4%;
        color: white;
        font-size: 30px !important;
        margin-left: 4%;
        z-index: 100;
    }
    .buttonTextSettings {
        width: 90%;
        height: 90%;
    }
    .buttonTextString {

    }
    .buttonRow {
        height: 50%;
        max-height: 20%;
        color: rgb(206, 206, 206);
    }
    .buttonCol {
        //height: 50%;
    }
}