<ion-content>
    <ion-icon (tap)="goBack();" class="backIcon" name="arrow-round-back" color="primary"></ion-icon>
    <h4 class="mainHeading">Invitations</h4>
    <div padding>
        <ion-segment [(ngModel)]="selectedOption">
            <ion-segment-button value="received">
                Received
            </ion-segment-button>
            <ion-segment-button value="sent">
                Sent
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="selectedOption">
        <ion-list no-lines *ngSwitchCase="'received'">
            <div *ngIf="noReceivedInvitesFound">
                <h5 class="name">No invitations received</h5>
            </div>
            <div>
                <ion-item style="background-color: transparent;" *ngFor="let f of receivedInvites">
                    <ion-item style="background-color: rgba(16, 16, 16, 0.344);" class="slidingOptions">
                        <ion-avatar class="item-avatar" item-start>
                            <img *ngIf="f.InvitationReceivedUser.Image != ''" src="{{f.InvitationReceivedUser.Image}}" [lazyLoad]="f.InvitationReceivedUser.TinyImage"
                                [offset]="0" [scrollTarget]="container._scroll._el">
                            <img *ngIf="f.InvitationReceivedUser.Image == ''" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaiqeTVjJF7fRIakIA28Yuwo9jWPkbRbq6HAdwdopF3QwGvEIxGg">
                        </ion-avatar>
                        <h2 class="name">{{f.InvitationReceivedUser.FullName}}</h2>
                        <p style="color: rgb(206, 206, 206);" (click)="openSpot(f.InvitationReceivedVenue.Id)">
                            <ion-icon class="icon" name="ios-flag-outline"></ion-icon>
                            <a style="padding-top:8px;padding-right: 10px;padding-left: 10px;" class="location locationBorder">{{f.InvitationReceivedVenue.Name}}</a>
                        </p>
                        <p>
                            <ion-row class="buttonRow">
                                <ion-col class="buttonCol">
                                    <button ion-button class="buttonTextSettings" color="primary" (click)="acceptInvitation(f.InvitationId)">
                                        <span class="buttonTextString">Accept</span>
                                    </button>
                                </ion-col>
                                <ion-col>
                                    <button ion-button class="buttonTextSettings" block color="danger" (click)="declineInvitation(f.InvitationId)">
                                        <span class="buttonTextString">Decline</span>
                                    </button>
                                </ion-col>
                            </ion-row>
                        </p>
                    </ion-item>
                </ion-item>
            </div>
        </ion-list>
        <ion-list no-lines *ngSwitchCase="'sent'">
            <div *ngIf="noSentInvitesFound">
                <h5 class="name">No invitations sent</h5>
            </div>
            <div>
                <ion-item style="background-color: transparent;" *ngFor="let f of sentInvites">
                    <ion-item (click)="openSpot(f.InvitationSentVenue.Id)" style="background-color: rgba(16, 16, 16, 0.344);" class="slidingOptions">
                        <ion-avatar class="item-avatar" item-start>
                            <img *ngIf="f.InvitationSentUser.Image != ''" src="{{f.InvitationSentUser.Image}}" [lazyLoad]="f.InvitationSentUser.TinyImage"
                                [offset]="0" [scrollTarget]="container._scroll._el">
                            <img *ngIf="f.InvitationSentUser.Image == ''" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaiqeTVjJF7fRIakIA28Yuwo9jWPkbRbq6HAdwdopF3QwGvEIxGg">
                        </ion-avatar>
                        <h2 class="name">{{f.InvitationSentUser.FullName}}</h2>
                        <p style="color: rgb(206, 206, 206);">
                            <ion-icon class="icon" name="ios-flag-outline"></ion-icon>
                            <a style="padding-top:8px;padding-right: 10px;padding-left: 10px;" class="location locationBorder">{{f.InvitationSentVenue.Name}}</a>
                            <!--
                                    <ion-icon style="padding-left: 10px;" class="icon" name="ios-pin-outline"></ion-icon>
                                    <span style="padding-right: 10px;padding-left: 10px;" class="location">{{f.Distance}} Km away</span>
                                    -->
                        </p>
                        <p style="color: rgb(206, 206, 206);">
                            <ion-icon class="icon" name="ios-disc-outline"></ion-icon> &nbsp;
                            {{f.Status}}
                            </p>
                    </ion-item>
                </ion-item>
            </div>
        </ion-list>
    </div>
</ion-content>