<ion-nav [root]="rootPage"></ion-nav>

<div #toasty class="my-alert" [ngClass]="{'success': notification.success, 'error': !notification.success}"
(click)="hideToast();" text-wrap tappable>
  <p ion-text color="white">{{ notification.message }}</p>
</div>
