// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.buttonText {
  font-size: 20px;
  height: 50px;
  text-transform: none;
  border-width: 2px;
  box-shadow: 1px 1px 5px #0D1720, 0 0 7px #0D1720, 0 0 9px #0D1720;
}

.my-alert {
  position: absolute;
  width: 90%;
  height: auto;
  transform: translateY(-100%);
  transition: 0.6s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  z-index: 99;
  top: 20px;
  left: 20px;
  text-align: center;
  opacity: 0;
  border-radius: 10px;
}

.my-alert.success {
  background-color: green;
}

.my-alert.error {
  background-color: red;
}

.has-refresher .scroll-content {
  border-top: 0 !important;
}

[transparent-header-bg] {
  .toolbar {
    .toolbar-background {
      background: none;
      border: none;
      margin: 0;
    }
    .toolbar-content {
      ion-title {
        .toolbar-title {
          color: #eceff1;
        }
      }
    }
  }
  &+ion-content {
    .fixed-content,
    .scroll-content {
      margin-top: 0 !important;
    }
  }
}

.main-content {
  background-color: #0D1720;
  position: absolute;
}

.my-alert.enter {
  transition: 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translateY(0%);
  opacity: 1;
}

.my-alert>p {
  color: white;
  font-size: 1.4rem;
}
