<ion-icon (tap)="goBack();" class="backIcon" name="arrow-round-back" color="primary"></ion-icon>
<ion-content style="background-color: #0D1720;" elastic-header>

  <div>
    <ion-slides pager>
      <ion-slide>
        <img *ngIf="venueData != undefined" style="height: 100%;width: 100%;" [src]="venueData.Image">
      </ion-slide>
    </ion-slides>
  </div>

  <div *ngIf="venueData != undefined" class="main-content">

    <h1 class="name">{{venueData.Name}}</h1>
    <div class="nameBorder"></div>
    <h1 class="description">{{venueData.About}}</h1>



    <div style="text-align: center;width: 90%;margin-left: 5%">
      <br>
      <a class="location" (click)="navigate();" color="primary">{{venueData.SingleLineAddress}}</a>
      <ion-icon color="primary" style="font-size: 17px;" name="ios-navigate-outline"></ion-icon>
      <br>
      <span style="font-size: 12px;color: #666666;">(Click Address to Navigate)</span>
    </div>

    <br>
    <ion-grid style="text-align: center !important;">
      <ion-row>
        <ion-col>
          <span class="colStylingHeading">Distance</span>
          <br>
          <span class="colStylingText">{{venueData.Distance}}</span>
        </ion-col>
        <ion-col>
          <span class="colStylingHeading">Travel Time</span>
          <br>
          <span class="colStylingText">{{venueData.Duration}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <span class="colStylingHeading">Views</span>
          <br>
          <span class="colStylingText">{{venueData.Views}}</span>
        </ion-col>
        <ion-col>
          <span class="colStylingHeading">Venue Types</span>
          <br>
          <span *ngIf="venueData.VenueTypes != null">
            <span class="colStylingText" *ngFor="let venueType of venueData.VenueTypes; let isLast=last">
              {{venueTypes[venueType].Description}}{{isLast ? '' : ', '}}
            </span>
          </span>

          <span *ngIf="venueData.VenueTypes == null">
            <span class="colStylingText">
              No venue types allocated
            </span>
          </span>

          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <br>
          <div style="width: 95%;margin-left:2.5%;">
            <button *ngIf="!showHours" (click)="operatingHours();" style="margin-top: 5%;width: 100%" ion-button class="buttonTextSettings"
              block color="light" outline>
              <span class="buttonTextString" style="text-transform: none;">Operating Hours +</span>
            </button>
            <button *ngIf="showHours" (click)="operatingHours();" style="margin-top: 5%;" ion-button class="buttonTextSettings" block
              color="light" outline>
              <span class="colStylingHeading" style="text-transform: none;">Operating Hours -</span>
            </button>
          </div>
          <div *ngIf="showHours && hours != null">
            <ion-row *ngFor="let day of hours.Days;">
              <ion-col>
                <br>
                <span class="colStylingHeading">{{weekday[day.DayOfWeek]}}:</span>
                <br>
              </ion-col>
              <ion-col *ngFor="let time of day.Times;">
                <span class="colStylingHeading">Open</span>
                <br>
                <span class="colStylingText">
                  {{time.Open}}
                </span>
              </ion-col>
              <ion-col *ngFor="let time of day.Times;">
                <span class="colStylingHeading">Close</span>
                <br>
                <span class="colStylingText">
                  {{time.Close}}
                </span>
              </ion-col>
            </ion-row>
           
          </div>
          <ion-row *ngIf="!hoursAvailable && showHours">
            <ion-col>
              <span class="colStylingText">No operating hours available.</span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div style="width: 90%;margin-left:5%;">
      <button *ngIf="!checkedIn" (click)="checkIn();" style="margin-top: 5%;" ion-button class="buttonTextSettings" block color="light"
        outline>
        <span class="buttonTextString">Check In</span>
      </button>
      <button *ngIf="checkedIn" (click)="checkOutCheck();" style="margin-top: 5%;" ion-button class="buttonTextSettings" block
        color="light" outline>
        <span class="buttonTextString">Check Out</span>
      </button>
    </div>

    <div style="width: 90%;margin-left:5%;">
        <button (click)="inviteFriends();" style="margin-top: 5%;" ion-button class="buttonTextSettings" block color="light"
          outline>
          <span class="buttonTextString">Invite</span>
        </button>
      </div>

    <ion-grid *ngIf="openShare">
      <ion-row>
        <ion-col class="block">
          <div class="roundedButton">
            <button class="roundedButtonIcon" (tap)="shareWhatsApp();">
              <ion-icon style="color: #eceff1;" name="logo-whatsapp"></ion-icon>
            </button>

          </div>
          <p class="iconText">Whatsapp</p>
        </ion-col>
        <ion-col class="block">
          <div class="roundedButton">
            <button class="roundedButtonIcon" (tap)="shareFacebook();">
              <ion-icon style="color: #eceff1; font-size: 30px; margin-top: 3px;" name="logo-facebook"></ion-icon>
            </button>

          </div>
          <p class="iconText">Facebook</p>
        </ion-col>
        <ion-col class="block">
          <div class="roundedButton">
            <button (tap)="shareInstagram();" class="roundedButtonIcon">
              <ion-icon style="color: #F5F5F5;" name="logo-instagram"></ion-icon>
            </button>

          </div>
          <p class="iconText">Instagram</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col class="block">
          <div class="roundedButton">
            <button class="roundedButtonIcon" (tap)="UberMe();">
              <ion-icon style="color: #eceff1;" name="car"></ion-icon>
            </button>

          </div>
          <p class="iconText">Uber</p>
        </ion-col>
        <ion-col class="block">
          <div class="roundedButton">
            <button class="roundedButtonIcon" (tap)="wazeMe();">
              <ion-icon style="color: #eceff1;" name="navigate"></ion-icon>
            </button>

          </div>
          <p class="iconText">Waze</p>
        </ion-col>
        <ion-col class="block">
          <div class="roundedButton">
            <button (tap)="shareClick();" class="roundedButtonIcon">
              <ion-icon style="color: #eceff1;" name="share-alt"></ion-icon>
            </button>

          </div>
          <p class="iconText">Share</p>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-card class="profileCard">
      <ion-list>

        <button *ngIf="venueData.Phone != null" class="profileCard" ion-item>
          <ion-icon name="call" item-start></ion-icon>
          <span class="contactBox">
            {{venueData.Phone}}
          </span>
        </button>

        <button *ngIf="venueData.Website != null" (click)="openWebsite(venueData.Website);" class="profileCard" ion-item>
          <ion-icon name="md-globe" item-start></ion-icon>
          <span class="contactBox">
            {{venueData.Website}}
          </span>
        </button>

      </ion-list>
    </ion-card>
  </div>
</ion-content>
