page-spot {
  .backIcon {
    position: fixed;
    margin-top: 4%;
    font-size: 30px !important;
    margin-left: 4%;
    z-index: 100;
  }
  .name {
    width: 100%;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Assistant', sans-serif !important;
    opacity: 1;
    width: 100%;
    color: white;
    text-shadow: 2px 2px 5px black, 2px 2px 10px black, 2px 2px 15px black, 2px 2px 20px black, 2px 2px 25px black;
  }
  .buttonTextSettings {
    font-size: 18px;
    height: 50px;
    text-transform: none;
    border-width: 2px;
    font-family: 'Assistant', sans-serif !important;
    box-shadow: 1px 1px 5px #0D1720, 0 0 7px #0D1720, 0 0 9px #0D1720;
  }
  .buttonTextString {
    text-shadow: 1px 1px 10px black, 0 0 15px black, 0 0 20px black, 0 0 25px black;
  }
  .nameBorder {
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgba(255, 255, 255, 0.5);
    border-radius: 100px;
    width: 60%;
    margin-left: 20%;
  }
  .location {
    text-align: center;
    font-size: 17px;
  }
  .description {
    font-size: 18px;
    font-family: 'Assistant', sans-serif !important;
    width: 90%;
    margin-left: 5%;
    text-align: left;
    color: white;
    margin-top: 5%;
    text-shadow: 1px 1px 15px black, 0 0 25px black, 0 0 20px black;
  }
  .iconText {
    font-size: 16px;
    font-family: 'Assistant', sans-serif !important;
    width: 90%;
    margin-left: 5%;
    text-align: center;
    color: white;
    margin-top: 5%;
    text-shadow: 1px 1px 15px black, 0 0 25px black, 0 0 20px black;
  }
  .colStylingHeading {
    border-bottom-width: 1px;
    border-bottom-color: #4c4c4c;
    border-bottom-style: solid;
    font-size: 19px;
    color: white;
    text-shadow: 1px 1px 15px black, 0 0 25px black, 0 0 20px black;
    font-family: 'Assistant', sans-serif !important;
  }
  .colStylingTextWebsite {
    color: #9E9E9E;
    font-size: 17px;
    text-shadow: 1px 1px 15px black, 0 0 25px black, 0 0 20px black;
    font-family: 'Assistant', sans-serif !important;
    display: block;
    width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .buttonTextSettings {
    font-size: 18px;
    height: 50px;
    text-transform: none;
    border-width: 2px;
    font-family: 'Assistant', sans-serif !important;
    box-shadow: 1px 1px 5px #0D1720, 0 0 7px #0D1720, 0 0 9px #0D1720;
  }
  .buttonTextString {
    text-shadow: 1px 1px 10px black, 0 0 15px black, 0 0 20px black, 0 0 25px black;
  }
  .colStylingText {
    color: #9E9E9E;
    font-size: 17px;
    text-shadow: 1px 1px 15px black, 0 0 25px black, 0 0 20px black;
    font-family: 'Assistant', sans-serif !important;
  }
  .contactBox {
    float: right;
    display: block;
    width: 200px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .profileCard {
    font-family: 'Assistant', sans-serif !important;
    background-color: rgba(16, 16, 16, 0.344);
    color: white;
  }
  .block {
    text-align: center;
    text-shadow: 2px 2px 5px black, 2px 2px 10px black, 2px 2px 15px black, 2px 2px 20px black, 2px 2px 25px black;
    vertical-align: middle;
  }
  .roundedButton {
    height: 5rem;
    width: 5rem;
    border-style: solid;
    border-width: 1px;
    border-color: #eceff1;
    text-shadow: 2px 2px 5px black, 2px 2px 10px black, 2px 2px 15px black, 2px 2px 20px black, 2px 2px 25px black;
    border-radius: 50%;
    display: table;
    margin: 0.6rem auto;
  }
  .roundedButtonIcon {
    font-size: 25px;
    background-color: transparent;
    vertical-align: middle;
    display: table-cell;
    margin-top: 7px;
  }
  .checkInButton {
    font-size: 23px;
    height: 35px; //width: 150px;
    text-transform: none;
    border-width: 1px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.279);
    border-color: rgb(210, 220, 255);
    color: white !important;
    text-shadow: 1px 1px 5px #0D1720, 0 0 7px #0D1720, 0 0 9px #0D1720, 0 0 13px #0D1720, 0 0 16px #0D1720;
    font-family: 'Assistant', sans-serif !important;
  }
}
